/*
	.textCodes > .narrow-control - affects control label
	.textCodes > textarea - affects textarea
*/
.textCodes > textarea{
	  width: 98vw !important;
    height: 84vh !important;
  	resize: none;
    border: 0;
}